
<label class="fs-3 fw-semibold my-3 mx-3">Pelicula sobre la carrera de Ingenieria de software</label>
<app-scroll-card-horizontal idScroll="moviesSoftwawe" [movies]="moviesSoftwawe"/>

<label class="fs-3 fw-semibold my-3 mx-3">Pelicula sobre la carrera de Medicina</label>
<app-scroll-card-horizontal idScroll="moviesMedical" [movies]="moviesMedical"/>

<label class="fs-3 fw-semibold my-3 mx-3">Pelicula sobre la carrera de Derecho</label>
<app-scroll-card-horizontal idScroll="moviesLaws" [movies]="moviesLaws"/>

<label class="fs-3 fw-semibold my-3 mx-3">Pelicula sobre la carrera de Arquitectura</label>
<app-scroll-card-horizontal idScroll="moviesArchitec" [movies]="moviesArchitec"/>